@model Document


@{
   bool isNew = Model.Id == 0;
   
   ViewData["Title"] = isNew? "Add ": "Edit " + "Document";
}

@if (ViewData["ErrMsg"] != null){
   <div class="alert alert-danger" role="alert"> @ViewData["ErrMsg"].ToString() </div>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <h4 class="col-11">@Html.Raw(isNew? "New" :"Id: " + @Model.Id)</h4>
            <a asp-action="Index" asp-controller="Users"
               type="button" class="btn-close"></a>
        </div>
    </div>

    <div class="card-body">
        <form id="form" asp-action="DocumentAddOrEdit" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="@Model.UserId" type="hidden">
            <div class="row align-items-center">
                <div class="col-6">
                    <label asp-for="@Model.DocumentType" class="form-label"></label>
                    <select asp-for="@Model.DocumentTypeId" asp-items='@(SelectList)ViewData["DocumentTypesList"]' class="form-select">
                        @if(Model.DocumentTypeId == 0) @Html.Raw("<option selected>...</option>")
                    </select>
                </div>
                <div class="col-6">
                    <label asp-for="@Model.DocumentStatus" class="form-label"></label>
                    <select asp-for="@Model.DocumentStatus" asp-items="Html.GetEnumSelectList<DocumentStatus>()" class="form-select">
                    </select>
                </div>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-6">
                    <label asp-for="@Model.IssueDate" class="form-label"></label>
                    <div class="input-group ">
                        <i class="material-icons input-group-text">edit_calendar</i>
                        <input asp-for="@Model.IssueDate" type="text" class="datepicker_input form-control" placeholder="@System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern" required aria-label="Issue date">
                    </div>
                </div>
                <div class="col-6">
                    <label asp-for="@Model.ValidThrough" class="form-label"></label>
                    <div class="input-group">
                        <i class="material-icons input-group-text">edit_calendar</i>
                        <input asp-for="@Model.ValidThrough" type="text" class="datepicker_input form-control" placeholder="@System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern" required aria-label="Valid through">
                    </div>
                </div>
            </div>
        </form>
    </div>
   <div class="card-footer">
      <button asp-action="DocumentAddOrEdit" asp-controller="Users"
         class="btn btn-primary float-end" form="form" type="submit"> Submit </button>
  </div>
</div>

<partial name="~/Views/Shared/_datepicker.cshtml"/>