@model PaginatedList<User>

@{
  ViewData["Title"] = "Manage Users";
}

<div class="card">
  <div class="card-header">
    <div class="row" style="align-items: center;">
      <h4 class="col-10" style="margin-bottom: 0px;" >Users</h4>
    </div>
  </div>
  <div class="card-body">
    <table id="DataTable" class="table">
      <thead>
        <tr>
          <th scope="col">
            Id
          </th>
          <th scope="col">
            Username
          </th>
          <th scope="col">
            User group
          </th>
          <th scope="col">
            Status
          </th>
          <th class="text-center" scope="col">
            <span class="material-icons">wysiwyg</span>
          </th>
          <th class="text-center" scope="col">
            <span class="material-icons">manage_accounts</span>
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model) {
          <tr>
            <th class="align-middle" scope="row">
              @Html.DisplayFor(m => user.Id)
            </th>
            <td class="align-middle">
              @Html.DisplayFor(m => user.UserName)
            </td>
            <td class="align-middle">
              @switch (user.UserGroup.ToString()) {
                case "Admin":
                  <span class="badge bg-danger">@Html.DisplayFor(m => user.UserGroup)</span>
                  break;
                case "Inspector":
                  <span class="badge bg-primary">@Html.DisplayFor(m => user.UserGroup)</span>
                  break;
                case "Inspectee":
                  <span class="badge bg-secondary">@Html.DisplayFor(m => user.UserGroup)</span>
                  break;
                case "Default":
                  <span class="badge bg-info">@Html.DisplayFor(m => user.UserGroup)</span>
                  break;
              }
            </td>
            <td class="align-middle">
              @switch (user.UserStatus.ToString()) {
                case "Declined":
                  <span class="badge bg-danger">@Html.DisplayFor(m => user.UserStatus)</span>
                  break;
                case "Accepted":
                  <span class="badge bg-success">@Html.DisplayFor(m => user.UserStatus)</span>
                  break;
                case "Pending":
                  <span class="badge bg-warning">@Html.DisplayFor(m => user.UserStatus)</span>
                  break;
              }
            </td>
            <td class="text-center">
              <a asp-action="Documents" asp-controller="Users" asp-route-id="@user.Id"
                  type="button" class="btn btn-secondary material-icons">visibility</a>
            </td>
            <td class="text-center">
              <div class="btn-group" role="group">
                <a asp-action="UserAddOrEdit" asp-controller="Users" asp-route-id="@user.Id"
                  type="button" class="btn btn-primary material-icons">edit</a>
                <a asp-action="UserDelete" asp-controller="Users" asp-route-id="@user.Id"
                  type="button" class="btn btn-danger material-icons">delete_forever</a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer">
      @{
          var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
          var nextDisabled = !Model.HasNextPage ? "disabled" : "";
      }
      <div class="btn-group float-start">
        <a asp-action="Index" asp-controller="Users" 
          asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-pageSize=""
          class="btn btn-secondary material-icons @prevDisabled">chevron_left</a>
        <a asp-action="Index" asp-controller="Users" 
          asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-pageSize=""
          class="btn btn-secondary material-icons @nextDisabled">chevron_right</a>
      </div>
      <div class="float-end">
        <a asp-controller="Users" asp-action="UserAddOrEdit" 
              class="btn btn-success" type="button">Add new</a>
      </div>
  </div>
</div>