@model User


@{
   ViewData["Title"] = "Add or Edit User";

   if (!string.IsNullOrEmpty(Convert.ToString(ViewData["EditError"])))
   {
      <div class="alert alert-danger" role="alert">
         @Convert.ToString(ViewData["EditError"])
      </div>
   }
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <h4 class="col-11">Title</h4>
            <a asp-action="Index" asp-controller="Users"
               type="button" class="btn-close"></a>
        </div>
    </div>

    <div class="card-body">
        <form id="form" asp-action="AddOrEditUser" asp-controller="Users">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row align-items-center">
                <div class="col-6">
                    <label asp-for="@Model.UserName" class="form-label"></label>
                    <input asp-for="@Model.UserName" class="form-control" type="text" />
                </div>
                <div class="col-6">
                    <label asp-for="@Model.Email" class="form-label"></label>
                    <input asp-for="@Model.Email" class="form-control" type="text" />
                </div>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-6">
                    <label asp-for="@Model.UserGroup" class="form-label"></label>
                    <select asp-for="@Model.UserGroup" asp-items="Html.GetEnumSelectList<UserGroup>()"
                        class="form-select"></select>
                </div>
                <div class="col-6">
                    <label asp-for="@Model.UserStatus" class="form-label"></label>
                    <select asp-for="@Model.UserStatus" asp-items="Html.GetEnumSelectList<UserStatus>()"
                        class="form-select"></select>
                </div>
            </div>
        </form>
    </div>
   <div class="card-footer">
      <button asp-controller="Users" asp-action="UserAddOrEdit" 
         class="btn btn-primary float-end" form="form" type="submit"> Submit </button>
  </div>
</div>