@model DocumentType


@{
  ViewData["Title"] = "Add or Edit Params";
}


<div class="card">
  <div class="card-header">
    <form class="row" asp-controller="Documents" asp-action="EditDocumentType" method="post">
      <div class="input-group">
        <label class="input-group-text">Document Type</label>
        <input asp-for="@Model.Label" class="form-control"/>
        <button asp-route-id="@Model.Id" asp-controller="Documents" asp-action="TypeEdit" 
          class="btn btn-primary material-icons" type="submit">check</button>
      </div>
    </form>
  </div>
  <div class="card-body">
    <table id="DataTable" class="table">
      <table id="DataTable" class="table">
        <thead>
          <tr>
            <th scope="col">Id </th>
            <th scope="col">Label</th>
            <th scope="col">Identifier</th>
            <th scope="col">Data type</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var docParam in Model.DocumentParameters){
          <tr>
            <td>
              @docParam.Id 
            </td>
            <td>
              @docParam.Label
            </td>
            <td>
                <span class="material-icons" style='@Html.Raw(docParam.isIdentifier?"color: green;":"")'>
                  @Html.Raw( docParam.isIdentifier? "check_box":"check_box_outline_blank")</span>
            </td>
            <td>
              @docParam.DataType
            </td>
            <td>
              <div class="btn-group" role="group">
                <a asp-route-id="@docParam.Id" asp-controller="Documents" asp-action="ParameterEdit"  
                  class="btn btn-primary material-icons" type="button" > edit </a>
                <a asp-route-id="@docParam.Id" asp-controller="Documents" asp-action="ParameterDelete"  
                  class="btn btn-danger material-icons" type="button" > delete_forever </a>
              </div>
            </td>
          </tr>
          }
          <tr>           
            <td colspan="6">
                <a asp-route-id="@Model.Id" asp-controller="Documents" asp-action="ParameterCreate"  
                class="btn btn-success material-icons" type="button" >add </a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
